a {
  text-decoration: none !important;
}

/* Forces image frames to keep uniform dimensions across different screen aspect ratios */
.product-img-container {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.product-img-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}